{{!< layout}}
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Feedback Form HTML Template - reusable form</title>
    
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   
   <link rel="stylesheet" href="fbform.css" >

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
   </script>
   

   <script type="text/javascript" src="/confluence/includes/js/code.js"> 
   </script>
</head>

<body>
   <div class="blue-stripe col-md-6 col-md-offset-3">
      <h2 id="fb-header">Feedback</h2>
   </div>

   <div class="row" style="margin-top:15px">
      <div class="col-md-6 col-md-offset-3 form-container">
        
         <form action="https://formspree.io/f/xleojqrr" role="form" method="post" id="reused_form">
		
	    <input type="hidden" name="pageURL" value="{{page_Url}}">
            

            <div>
	      <table style="width:100%;table-layout:fixed">
		 <tr style="width: 100%">
		    <td style="width: 30%">
		       <label>Was the page useful?</label>
		    </td>
		    <td style="width: 70%">
		       <p>	
			  <label style="width:22%">                      
			     <input type="radio" name="useful" id="useful_yes" value="yes" required>
			     <label for="answer1" style="color:#4CAF50">Yes</label>
			  </label>

			  <label style="width:20%">
			     <input type="radio" name="useful" id="useful_no" value="no">
			     <label for="answer1" style="color:#FF1A1A">No</label>
			  </label>

		          <label style="width: 50%">
			     <label for="user_name" style="padding-right: 5px">Your email:</label>
			     <input type="text" name="user_name" id="user_name" value="" required>
			  </label>
							
		       </p>
		    </td>
		</tr>
	      </table>
           </div>
            
		
           <div>
	      <table style="width:100%;table-layout:fixed">
	         <tr style="width: 100%">
		    <td style="width: 30%">
		       <label> Technical content: </label>
		    </td>
						
                    <td>
		       <p>
			  <label class="radio-inline" style="width: 20%">
			     <input type="radio" name="content" id="radio_experience" value="1" >Very Poor
			  </label>

			  <label class="radio-inline" style="width: 15%">
			     <input type="radio" name="content" id="radio_experience" value="2" >Poor
			  </label>

			  <label class="radio-inline" style="width: 20%">
			     <input type="radio" name="content" id="radio_experience" value="3" >Satisfying
			  </label>
								
			  <label class="radio-inline" style="width: 15%">
			     <input type="radio" name="content" id="radio_experience" value="4" >Good
			  </label>
								
			  <label class="radio-inline" style="width: 15%">
			     <input type="radio" name="content" id="radio_experience" value="5" >Great
			  </label>
		       </p>
		    </td>
		 </tr>
	      </table>
           </div>
            
           <div>
	      <table style="width:100%;table-layout:fixed">
	         <tr style="width: 100%">
		    <td style="width: 30%">
		       <label>Visuals: </label>
		    </td>
						
                    <td>
		       <p>
			  <label class="radio-inline" style="width: 20%">
			     <input type="radio" name="visuals" id="radio_experience" value="1" >Very Poor
			  </label>

			  <label class="radio-inline" style="width: 15%">
			     <input type="radio" name="visuals" id="radio_experience" value="2" >Poor
			  </label>

			  <label class="radio-inline" style="width: 20%">
			     <input type="radio" name="visuals" id="radio_experience" value="3" >Satisfying
			  </label>
								
			  <label class="radio-inline" style="width: 15%">
			     <input type="radio" name="visuals" id="radio_experience" value="4" >Good
			  </label>
								
			  <label class="radio-inline" style="width: 15%">
		             <input type="radio" name="visuals" id="radio_experience" value="5" >Great
			  </label>
		       </p>
		    </td>
		 </tr>
	      </table>
           </div>
			
           <div>
	      <table style="width:100%;table-layout:fixed">
	         <tr style="width: 100%">
		    <td style="width: 30%">
		       <label>Clarity:</label>
		    </td>
						
                    <td>
		       <p>
		          <label class="radio-inline" style="width: 20%">
                             <input type="radio" name="clarity" id="radio_experience" value="1" >Very Poor
			  </label>

			  <label class="radio-inline" style="width: 15%">
		             <input type="radio" name="clarity" id="radio_experience" value="2" >Poor
			  </label>

			  <label class="radio-inline" style="width: 20%">
			     <input type="radio" name="clarity" id="radio_experience" value="3" >Satisfying
			   </label>
								
			   <label class="radio-inline" style="width: 15%">
	                      <input type="radio" name="clarity" id="radio_experience" value="4" >Good
			   </label>
								
			   <label class="radio-inline" style="width: 15%">
                              <input type="radio" name="clarity" id="radio_experience" value="5" >Great
			   </label>
		        </p>
		     </td>
		  </tr>
	       </table>
             </div>
            
             <div>
	        <table style="width:100%;table-layout:fixed">
		   <tr style="width: 100%">
		      <td style="width: 30%">
		         <label>Page structure:</label>
		      </td>
						
                      <td>
		         <p>
			    <label class="radio-inline" style="width: 20%">
			       <input type="radio" name="structure" id="radio_experience" value="1" >Very Poor
			    </label>

			    <label class="radio-inline" style="width: 15%">
			       <input type="radio" name="structure" id="radio_experience" value="2" >Poor
			    </label>

			    <label class="radio-inline" style="width: 20%">
			       <input type="radio" name="structure" id="radio_experience" value="3" >Satisfying
			    </label>
								
			    <label class="radio-inline" style="width: 15%">
			       <input type="radio" name="structure" id="radio_experience" value="4" >Good
			    </label>
								
			    <label class="radio-inline" style="width: 15%">
			       <input type="radio" name="structure" id="radio_experience" value="5" >Great
			    </label>
			 </p>
		      </td>
		   </tr>
		</table>
             </div>
			
			
             <div class="row">
                <div class="col-sm-12 form-group">
		   <table style="width:100%;table-layout:fixed">
		      <tr style="width: 100%">
		         <td style="width: 30%">
			    <label for="comments">What would you like <br>to improve?</label>
		         </td>
						
                         <td style="width: 70%">
			    <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="3"></textarea>
			 </td>
		      </tr>
		    </table>
		</div>
             </div>

             <div class="row">
                <div class="col-sm-12 form-group">
                   <button type="submit" class="btn btn-lg btn-block" id="my-form-button" style="background-color: #0052CC; color: #FFFFFF">Submit</button>
                </div>
             </div>

        </form>
        <p id="my-form-status"></p>
    </div>
</div>
</body>


<script>

  window.addEventListener("DOMContentLoaded", function() {

    // get the form elements defined in your form HTML above
    
    var form = document.getElementById("reused_form");
    var button = document.getElementById("my-form-button");
    var status = document.getElementById("my-form-status");
    

    // Success and Error functions for after the form is submitted
    
    function success() {
      form.reset();
      button.style = "display: none ";
      status.innerHTML = "Thank you for the feedback!";
    }

    function error() {
      status.innerHTML = "Oops! There was a problem.";
    }

    // handle the form submission event

    form.addEventListener("submit", function(ev) {
      ev.preventDefault();
      var data = new FormData(form);
      ajax(form.method, form.action, data, success, error);
    });
  });
  
  // helper function for sending an AJAX request

  function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState !== XMLHttpRequest.DONE) return;
      if (xhr.status === 200) {
        success(xhr.response, xhr.responseType);
      } else {
        error(xhr.status, xhr.response, xhr.responseType);
      }
    };
    xhr.send(data);
  };
  
 
</script>