body {
   background-color: #fff;
   width: 90%;
}
#fb-header
{
   color: #fff;
}
html,
body {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}
.blue-stripe
{
   height: 50px;
   background-color: #0052CC;
   display: flex;
   align-items: center;
}

.form-container
{
   background-color: #fff;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   margin-bottom: 0;
}

#useful_yes {
   position: relative;
   height: 22px;
   width: 22px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
}

#useful_yes::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   transform: translate(-80%, 0%);
   background-color: white;
   border: 2px solid #4CAF50;
}

#useful_yes:checked::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #4CAF50;
   transform: translate(-80%, 0%);
   visibility: visible;
}

#useful_no {
   position: relative;
   height: 22px;
   width: 22px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
}

#useful_no::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   transform: translate(-80%, 0%);
   background-color: white;
   border: 2px solid #FF1A1A;
}

#useful_no:checked::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #FF1A1A;
   transform: translate(-80%, 0%);
   visibility: visible;
}

textarea
{
   resize: none;
   width: 100%;
}
